<% locals.pageTitle = "Settlement"; %> 
<%- include('partials/header') %>

<!-- FAB button -->

    <md-button ng-disabled="loadingSensors" class="md-accent md-fab md-hover-full md-fab-bottom-right">
        <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">Add</md-tooltip>
        <md-icon md-font-library="material-icons">add</md-icon>
    </md-button>
<!-- end FAB button -->

<md-content layout="column" flex class="md-padding">
    <md-toolbar md-scroll-shrink  layout="row" layout-align="space-between center">
        <div class="md-toolbar-tools">Sensors management</div>
        <div><md-button class="md-primary md-raised floatRight" ng-click="refresh()">Refresh</md-button></div>
    </md-toolbar>

    <md-list ng-if="sensors && !loadingSensors">
        <md-list-item ng-repeat="sensor in sensors">            
            <p>{{sensor.name}}</p>
            <p>{{isensortem.type}}</p>
            <p>{{sensor.addressType}}:{{sensor.address}}</p>

            <md-button class="md-primary md-raised" ng-click="remove(sensor)">Remove</md-button>
        </md-list-item>
    </md-list>
    <h3 ng-if="!sensors">No sensors found</h3>
</md-content>

<div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-if="loadingSensors" md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
</div>

<%- include('partials/footer', {scripts: ["js/sensors.js"]}) %> 